table {
	border: 2px solid yellow;
	height: 550px;
	width: 800px;
	display: flex;
	justify-content: center;
}
td{
	width: 300px;
}
td:hover a{
	color: black;
}
.title {
	font-size: 40px;
	font-weight: strong;
	text-align: center;
}
.value {
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
}
body {
	background-color: #DD0A0A;
	color: yellow;
	font-family: 'EB Garamond', serif;
	display: flex;
	justify-content: center;
}
div{
	display: flex;
	justify-content: center;
}
img {
	height: 300px;
}
a {
	color: yellow;
	text-decoration: none;
}
.a{
	text-decoration: none;
	color: black;
}
input {
	padding-top: 30px;
}
p {
	font-size: 40px;
	font-weight: 700;
}
form {
	font-size: 35px;
}
h1 {
	text-align: center;
}