table {
	border: 2px solid yellow;
	height: 550px;
	width: 800px;
	display: flex;
	justify-content: center;
}
td{
	width: 300px;
}
.title {
	font-size: 40px;
	text-align: center;
}
.value {
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
}
.value1 {
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
}
body {
	background-color: #DD0A0A;
	color: yellow;
	font-family: 'EB Garamond', serif;
}
.tab {
   display: none;
}
.active {
   display: inline-block;
}
img {
	height: 300px;
}
a {
	color: yellow;
	text-decoration: none;
}

a:hover {
   text-decoration: none;
   color: black;
}
input[type = "radio"] {
  margin-right: 10px;
}
.a{
	text-decoration: none;
	color: black;
}
input {
	padding-top: 30px;
}
p {
	font-size: 40px;
	font-weight: 700;
}
form {
	font-size: 35px;
}
h1 {
	text-align: center;
}
.font-size {
	font-size: 50px;
}
#score {
	font-size: 55px;
	margin-left: 175px;
	position: relative;
	top: -250px;
}
button {
	background: none;
	height: 50px;
	font-size: 30px; 
	color: yellow;
	border: 2px solid yellow;
	border-radius: 2px;
	margin-top: 20px;
}
button:focus{
	outline: none;
}
button:hover {
	opacity: .4;
}